<div class="container-color">
  <div class="container">
    <div class="container-index">
      <div class="d-flex flex-column justify-content-center align-items-center mb-5 py-5">
        <h1 class="title-index my-5 text-center pb-3"><span>Recruit</span> Certified <br>Candidates</h1>
        <%= form_with url: users_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Elon Musk" %>
          <%= button_tag type: "submit", class: "btn btn-primary mx-3 search" do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        <% end %>
      </div>
      <%# CARDS %>
      <div class="row row-cols-4">
        <% @users.each do |user| %>
          <% @name_user = "#{user.first_name} #{user.last_name}" %>
          <div class="col">
            <div class="card-user">
              <div class="card-user__image" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= user.id %>">

                <div class="d-flex flex-column justify-content-end img p-3"
                     style="
                       background-image: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 33%, rgba(0,212,255,0) 100%),
                                          url(<%= cl_image_path user.photo.key, height: 300, width: 300, crop: :fill if user.photo.attached? %>)
                     ">
                  <p class="name-card-index text-overlay text-white"><%= @name_user %></p>
                  <% if user.experiences.last.present? %>
                    <p class="job-card-index text-white"><%= user.experiences.last.job_name %></p>
                  <% end %>
                </div>
                <%# <div class="card-user__infos d-flex justify-content-between align-items-center mb-2 mt-1">
                  <div class="d-flex flex-column justify-content-center align-items-start">
                  </div>
                </div> %>





                <div class="card-user-skills pt-3">
                  <ul class="skills-list">
                    <li class="skill-pill">#Figma</li>
                    <li class="skill-pill">#Adobe</li>
                    <li class="skill-pill">#AI</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <%# #MODAL %>
          <div class="modal fade" id="exampleModal-<%= user.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content no-scrollbar">
                <div class="modal-body">
                  <div class="text-end mb-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="mb-5 text-center">
                    <% if user.photo.attached? %>
                      <%= cl_image_tag user.photo.key, height: 180, width: 180, crop: :fill, class: "photo-modal" %>
                    <% end %>
                  </div>

                  <% if user.experiences.last.present? %>
                    <div class="d-flex align-items-center mt-3 mb-2">
                      <p class= "company-name"><%= user.companies.last.name %></p>
                      <%= cl_image_tag user.companies.last.photo.key, height: 50, width: 50, crop: :fill, class: "ms-3" %>
                    </div>
                    <p class="experience-date mb-4"><%= "#{user.experiences.last.start_date} - #{user.experiences.last.end_date}" %></p>
                    <p class="text-modal fw-bolder"><%= user.experiences.last.job_name %></p>
                    <p class="text-modal"> <%= truncate(user.experiences.last.job_description, length: 150) %></p>
                  <% end %>


                  <% if current_user.role.present? %>
                    <%= link_to user_path(user), class: "btn btn-primary d-flex justify-content-between align-items-center resume-button mt-5" do %>
                      <%= "#{user.first_name} #{user.last_name}'s Resume" %> <i class="fa-solid fa-right-to-bracket pe-1"></i>
                    <% end %>
                  <% end %>
                  <% if user_signed_in? && current_user.role.blank? %>
                    <div class="resume-button-container mt-5 mx-auto" data-controller="display-modal-form">
                      <button class="btn btn-primary d-flex justify-content-between align-items-center resume-button"
                      data-action="click->display-modal-form#displayForm">
                        <%= "#{user.first_name} #{user.last_name}'s Resume" %> <i class="fa-solid fa-right-to-bracket pe-1"></i>
                      </button>
                      <%= form_with(model: user, local: true, html: { class: "d-none" },  data: { display_modal_form_target: "form" }) do |form| %>
                        <p>Is your company registered ?</p>
                        <label>
                          <%= form.radio_button :toggle_attribute, "yes", data: { action: "click->display-modal-form#displayForm2",  toggleGroup: "registration" } %>
                          Yes
                        </label>
                        <label>
                          <%= form.radio_button :toggle_attribute, "no", data: { action: "click->display-modal-form#displayForm2", toggleGroup: "registration" } %>
                          No
                        </label>
                      <% end %>


                      <%= simple_form_for [user, @role], html: {
                        class: "d-none",
                        data: {
                          display_modal_form_target: "formrecruiter"
                        }
                      } do |f| %>
                        <%= f.label :company do %>
                          Select your company
                        <% end %>
                        <%= f.association :company, label: false %>
                        <%= f.label :recruiter do %>
                          Are you recruiter of your company ?
                        <% end %>
                        <%= f.input :recruiter, label: "Yes" %>
                        <%= f.button :submit, class: "btn btn-primary" %>
                      <% end %>

                      <%= simple_form_for [user, @company], html: {
                        class: "d-none",
                        data: {
                          display_modal_form_target: "formcompany2"
                        }
                      } do |f| %>
                        <%= f.input :name %>
                        <%= f.input :sector %>
                        <%= f.input :size %>
                        <%= f.input :siret %>
                        <%= f.input :photo, as: :file %>
                        <%= f.button :submit, class: "btn btn-primary" %>
                      <% end %>

                      <%= simple_form_for [user, @role], html: {
                        class: "d-none",
                        data: {
                          display_modal_form_target: "formcompany"
                        }
                      } do |f| %>

                        <%= f.label :admin do %>
                          Are you Admin of your company
                        <% end %>
                        <%= f.input :admin, label: "Yes" %>

                        <%= f.label :recruiter do %>
                          Are you Recruiter of your company ?
                        <% end %>
                        <%= f.input :recruiter, label: "Yes" %>

                        <%= f.button :submit, class: "btn btn-primary" %>
                      <% end %>

                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
