<div class="container-home">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="sidebar">
        <div></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="profil"></div>
      </div>
      <div class="row">
        <div class="col">
          <div class="experiences bg-primary">
            <%= simple_form_for [@user, @experience] do |f| %>
              <%= f.association :company %>
              <%= f.input :job_name, label: "Job Name" %>
              <%= f.input :job_description, label: "Job Description" %>
              <%= f.input :start_date, as: :date, label: "Start Date" %>
              <%= f.input :end_date, as: :date, label: "End Date" %>
              <%= f.input :skills, label: "Skills" %>

              <%= f.button :submit, class: "btn btn-primary" %>
            <% end %>
              <%# <%= f.button :submit, value: "Update", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="languages">
      </div>
    </div>
    <div class="col_4">
      <div class="companies">
      </div>
    </div>
    <div class="col-4">
      <div class="share">
      </div>
    </div>
  </div>
</div>
