<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="">
        Carte du haut
      </div>
      <div class="">
        Carte du bas
      </div>
    </div>
    <div class="col-9">
      <div class="">
        Div du haut
      </div>
      <div class="row">
        <div class="card col-4 border rounded-4 text-center">
          <i class="fas fa-plus-circle fa-2x mt-5 text-primary" style="color: #5877FA;"></i>
          <div class="mb-3">Add an Experience</div>
        </div>
        <% @user.experiences.each do |experience| %>
          <div class="card col-4 border rounded-4 experiences">
              <strong>
              <%= experience.job_name %> <br>
              </strong>
            <div class="card-body fs-6 text-truncate">
              <p class="fw-lighter text-muted">
                <%= experience.start_date %>
                <%= experience.end_date %>
              </p>
              <small>
                <%= experience.job_description %>
              </small>
            </div>
          </div>
          <div class="card col-4 d-none">
            <div class="card-body">
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-6">bas droite</div>
        <div class="col-6">bas gauche</div>
      </div>
    </div>
  </div>
</div>


            <% if false %>
              <%= simple_form_for [@user, @experience] do |f| %>
                <%= f.association :company %>
                <%= f.input :job_name, label: "Job Name" %>
                <%= f.input :job_description, label: "Job Description" %>
                <%= f.input :start_date, as: :date, label: "Start Date" %>
                <%= f.input :end_date, as: :date, label: "End Date" %>
                <%= f.input :skills, label: "Skills" %>

                <%= f.button :submit, class: "btn btn-primary" %>
              <% end %>
              <%# <%= f.button :submit, value: "Update", class: "btn btn-primary" %>
            <% end %>
