<div class="container">
  <div class="row">
    <div class="col-3">
        <div class="skill_barre my-3">
          <span class="letter">html</span>
          <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated w-70" style="width: 90%">90%</div>
          </div>
          <span class="letter">css</span>
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 85%">85%</div>
          </div>
          <span class="letter">js</span>
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 70%">70%</div>
          </div>
          <span class="letter">java</span>
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 60%">60%</div>
          </div>
          <span class="letter">php</span>
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
          </div>
        </div>
    </div>
    <div class="col-9">
      <div class="profil bg-white my-3 -p3">
        <h1 class="title-dashboard text-center mb-5">Welcome on your Dashboard<% if current_user == @user && @user.first_name != nil %>, <span><%= @user.first_name %></span> <% end %></h1>
        <div class="d-flex justify-content-between">
          <div class="infos-candidate d-flex flex-column">
            <% if current_user == @user  %>
              <div data-controller="edit-dashboard" data-edit-dashboard-target="profilinfos">
                <div class="profil-infos" data-edit-dashboard-target="infos">
                  <% if @user.photo.attached? %>
                    <div class="background-photo my-3">
                      <div class="background-pen-photo" data-action="click->edit-dashboard#displayFormDashboard">
                        <i class="fa-solid fa-pen fa-2xs pen"></i>
                      </div>
                      <%= cl_image_tag(@user.photo.key, height: 100, width: 100, crop: :fill, class: "rounded-circle") %>
                    </div>
                  <% else %>
                    <div class="avatar-empty my-3">
                      <i class="fa fa-user fa-lg" aria-hidden="true" style="color:white"></i>
                      <div class="background-pen-photo" data-action="click->edit-dashboard#displayFormDashboard">
                        <i class="fa-solid fa-pen fa-2xs pen"></i>
                      </div>
                    </div>
                  <% end %>
                  <div class="d-flex align-items-center my-3">
                    <p><%=  @user.first_name.present? ? @user.first_name : "First name"%></p>
                    <div class="background-pen ms-3" data-action="click->edit-dashboard#displayFormDashboard">
                      <i class="fa-solid fa-pen pen"></i>
                    </div>
                  </div>
                  <div class="d-flex align-items-center my-3">
                    <p><%=  @user.last_name.present? ? @user.last_name : "Last name"%></p>
                    <div class="background-pen ms-3" data-action="click->edit-dashboard#displayFormDashboard">
                      <i class="fa-solid fa-pen pen"></i>
                    </div>
                  </div>
                  <div class="d-flex align-items-center my-3">
                    <p><%= @user.available ? "Available" : "Unavailable" %></p>
                    <div class="background-pen ms-3" data-action="click->edit-dashboard#displayFormDashboard">
                      <i class="fa-solid fa-pen pen"></i>
                    </div>
                  </div>
                </div>
                <%= simple_form_for @user, html: {class: "d-none", data: {edit_dashboard_target: "form", action: 'submit->edit_dashboard#update'}} do |f| %>
                  <%= f.input :photo, as: :file, label: false, input_html: { class: 'my-3 dashboard-input', value: @user.photo.attached? ? cl_image_tag(@user.photo.key, height: 100, width: 100, crop: :fill, class: "rounded-circle") : "<i class='fa fa-user fa-lg' aria-hidden='true' style='color:white'></i>".html_safe } %>
                  <%= f.input :first_name, label: false, input_html: { class: 'my-3 dashboard-input', value: @user.first_name.present? ? @user.first_name : "First name" }  %>
                  <%= f.input :last_name, label: false, input_html: { class: 'my-3 dashboard-input', value: @user.last_name.present? ? @user.last_name : "Last name" } %>
                  <%= f.input :available %>
                  <%= f.submit %>
                <% end %>
              </div>
            <% end %>
            <%# <p><%= "#{@user.first_name} #{@user.last_name}"<p> %>
            <% if @user.experiences.present? %>
              <p><%= @user.experiences.last.job_name %></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <% if current_user == @user %>
          <div class="col-4 rounded-4 text-center d-flex flex-column justify-content-center align-items-center experiences-adding m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fas fa-plus-circle my-1" style="color: #5877FA;"></i>
            <p class="my-1">Add an Experience</p>
          </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <%= simple_form_for [@user, @experience] do |f| %>
                    <%= f.association :company %>
                    <%= f.input :job_name, label: "Job Name" %>
                    <%= f.input :job_description, label: "Job Description" %>
                    <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
                    <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
                    <%= f.input :skills, label: "Skills" %>
                    <%= f.button :submit, class: "btn btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% @user.experiences.each do |experience| %>
          <div class="col-4 border rounded-4 <%= experience.certified? ? 'experiences' : 'experiences-none' %>  m-2 py-2 px-3">
            <% if experience.certified? == false && current_user.role.present? %>
              <div class="spinner-grow text-danger absolute-alert" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            <% end %>
            <h3><%= experience.job_name %></h3>
            <div class="d-flex align-items-center company-experiences mt-2 mb-1">
              <h5 class="mb-0"><%= experience.company.name %></h5>
              <%= cl_image_tag experience.company.photo.key, height: 30, width: 30, crop: :fill, class: "ms-2 avatar-company" %>
            </div>
            <p class="date-experience">
              <%= "#{experience.start_date} - #{experience.end_date}" %>
            </p>
            <p class="experience-description mt-2 mb-2">
              <%= truncate(experience.job_description, length: 90) %>
            </p>
            <% if experience.certified?  %>
              <div class="see-more d-flex align-items-center mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= experience.id %>">
                <p class="me-1">See More</p><i class="fa-solid fa-chevron-left ms-1"></i>
              </div>
            <% elsif experience.certified? == false && current_user.role.present? %>
              <div class="see-more-validate d-flex align-items-center mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= experience.id %>">
                <p class="me-1">Certify XP</p><i class="fa-solid fa-chevron-left ms-1"></i>
              </div>
            <% else %>
              <div class="see-more d-flex align-items-center mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= experience.id %>">
                <p class="me-1">See More</p><i class="fa-solid fa-chevron-left ms-1"></i>
              </div>
            <% end %>
            <div class="modal fade" id="exampleModal-<%= experience.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="text-end">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                      <p class= "company-name"><%= experience.company.name %></p>
                      <%= cl_image_tag experience.company.photo.key, height: 50, width: 50, crop: :fill, class: "rounded-circle border border-dark ms-3" %>
                    </div>
                    <p class="experience-date mb-4"><%= "#{experience.start_date} - #{experience.end_date}" %></p>
                    <p class="text-modal fw-bolder"><%= experience.job_name %></p>
                    <p class="text-modal"> <%= experience.job_description  %></p>
                    <% if experience.certified? == false && current_user.role.present? %>
                      <div class="d-flex justify-content-center mt-5">
                        <div data-controller="alert" data-action="click->alert#showAlert">
                          <%= link_to certify_path(experience),   data: {turbo_method: :patch, turbo_confirm: "Are you sure?"} do %>
                            <button type="button" class="btn btn-primary" id="liveAlertBtn">Certify XP</button>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row justify-content-between">
        <div class="col-6 bg-white rounded-4" style='width:48%!important'>
          <h4 class="my-3">Company Worked</h4>
          <div class="companies d-flex flex-wrap justify-content-between">
            <% @user.experiences.each do |experience| %>
              <% if experience.company.photo.attached? %>
                <div class="col-3 mb-2 company-card-container">
                  <div class="company-card-container">
                    <div class="company-card">
                      <%= cl_image_tag experience.company.photo.key, height: 50, width: 50, crop: :fill, class: "photo-modal"%>
                      <div class="company-name">
                        <%= experience.company.name %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
          <div class="col-6 bg-white rounded-4" style='width:48%!important'>
            <h4 class="my-3">ChatRoom</h4>
            <div class="d-flex justify-content-center align-items-center">
              <div class="col-4 text-center d-flex flex-column justify-content-center align-items-center chatroom m-2">
                <i class="fa-regular fa-comments fa-2xl" style="color: #5877FA;"></i>
                <p class="my-3">Start a new conversation</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%# <%= f.button :submit, value: "Update", class: "btn btn-primary" %>
