<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center justify-content-between" do %>
      <i class="fa-solid fa-vault fa-lg"></i>
      <p>Referral Safe</p>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if user_signed_in? && action_name == "show" && current_user.role.present? %>
      <div class="exit-resume">
        <%= link_to users_path, class: "btn btn-primary d-flex justify-content-between align-items-center go-back" do %>
          <i class="fa-solid fa-door-open pe-2"></i> <p class="ps-2">Go back</p>
        <% end %>
      </div>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <div class="d-flex justify-content-end align-items-center">
            <li>
              <div class="dropdown">
                <a class="fa-regular fa-comment fa-lg me-5" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item dropdown d-flex align-items-center justify-content-center">
            <a href="#" class="" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, height: 50, width: 50, crop: :fill, class: "avatar" %>
              <% elsif current_user.role.present? %>
                <%= cl_image_tag current_user.company.photo.key, height: 50, width: 50, crop: :fill %>
              <% else %>
                <i class="fa fa-user" aria-hidden="true"></i>
              <% end %>
            </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Action", "#", class: "dropdown-item" %>
                <%= link_to "Another action", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to(new_user_session_path, class: "avatar-out") do %>
              <i class="fa fa-user" aria-hidden="true"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
