<%= simple_form_for @user, html: {class: "d-none", data: {edit_dashboard_target: "form", action: 'submit->edit_dashboard#update'}} do |f| %>
  <div class="d-flex flex-column align-items-center">
    <%= f.input :photo, as: :file, label: false, input_html: { class: 'form-user '} %>
    <%= f.input :available, input_html: { class: "" } %>
    <%= f.input :first_name, label: false, input_html: { class: 'form-user '}%>
    <%= f.input :last_name, label: false, input_html: { class: 'form-user '} %>
  </div>
  <div class="text-center ">
    <%= f.submit input_html: { class: 'btn btn-primary', value: "Update", disable_with:"Update" }%>
  </div>
<% end %>
